sentinel monitor {{.Name}} {{.MasterIp}} {{.MasterPort}} {{.Quorum}}
sentinel set {{.Name}} down-after-milliseconds {{.DownTime}}
sentinel set {{.Name}} failover-timeout {{.FailOverTime}}
sentinel set {{.Name}} parallel-syncs 1
